* {
    padding: 0;
    margin: 0;
    font-weight: 400;
    font-style: normal;
    box-sizing: border-box;
}

body {
    max-width: 100%;
    background-color: rgba(249, 249, 249);
    background-size: cover; 
    background-position: center;
}

main {
    width: 100%;
    overflow: auto;
    display: flex;
    flex-direction: column;
}

header {
    position: fixed; 
    top: 0; 
    left: 0;
    min-width: 100%;
    height: 70px;
    padding: 5px;
    display: flex; 
    align-items: center;
    justify-content: center;
    font-family: "Urbanist", sans-serif;
    background-color: transparent;
    z-index: 1;
    background-color: green;
}

.cont__logo {
    min-height: 50px;
    min-width: 50px;
    background-color: rgba(217, 217, 217, 0.5);
    backdrop-filter: blur(15px);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100px;
    /* background-color: yellow; */
}

.cont__logo a img {
    height: 40px;
    width: 40px;
    /* background-color: blue; */
}

nav ul {
    list-style: none;
    background-color: rgba(217, 217, 217, 0.5);
    display: flex;
    justify-content: space-around;
    min-width: 300px;
    min-height: 50px;
    align-items: center;
    overflow: hidden;
    margin-left: 20px;
    backdrop-filter: blur(15px);
    border-radius: 10px;
    /* background-color: blue;     */
}

nav ul li a{
    color: rgba(48, 48, 53);
    text-decoration: none;
    font-size: 16px;
    font-weight: 200;
    /* background-color: violet; */
}

nav ul li a::before {
    content: '';
    position: absolute;
    top: 100%; /* Muevo la barra en sentido vertical*/
    left: 0;
    width: 0;
    height: 1px;
    background: linear-gradient(to right, #177BFF 0%, #797EF3 100%);
    transition: 0.5s;
}

nav ul li a:hover {
    background: linear-gradient(to right, #177BFF, #797EF3); /* Gradiente del texto al pasar el puntero */
    color: transparent;
    background-clip: text;
    transition: 0.5s;
}

.home {
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    /* background-color: gray; */
    align-items: center;
    text-align: center;
    justify-content: center;
    background-image: url(../img/fondoRelu.png);
    background-repeat: no-repeat; 
    background-position: center;
    font-family: "Urbanist", sans-serif;
    padding: 10px;
}

.home h1 {
    color: rgb(38, 38, 42);
    font-size: 60px;
    font-weight: 400;
    /* background-color: yellow; */
    overflow: hidden;
}

.home p {
    margin-top: 20px;
    color: #303035;
    font-size: 18px;
    font-weight: 200;
    /* background-color: aqua; */
}

.home button {
    width: 180px;
    height: 50px;
    margin-top: 50px;
    background-color: rgb(31, 21, 21);
    color: white;
    border-style: none;
    border-radius: 5px;
    font-size: 14px;
    font-family: "Be Vietnam Pro";
}

.home button a {
    text-decoration: none;
    color: white;
}


.home button:hover {
    transform: scale(1.05);
}

.features {
    min-height: 100vh;
    width: 100%;
    display: flex;
    background-color: red;
    align-items: center;
    flex-wrap: wrap;
    height: “fit-content”;
    justify-content: space-around;
    gap: 20px;
    overflow: hidden;
    padding: 20px;
}

.features__cont {
    background-color: rgb(252, 252, 252);
    height: 350px;
    width: 400px;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.1);
}

.features__cont:hover {
    transform: scale(1.05);
}

.features__cont img{
    height: 200px;
    width: 350px;
    border: none;
}

.features__cont h2{
    justify-content: left;
    font-family: "Urbanist", sans-serif;
    font-size: 22px;
    font-weight: 600;
}

.features__cont p{
    margin-top: 10px;
    font-family: "Be Vietnam Pro", sans-serif;
    font-size: 14px;
    font-weight: 300;
    color: gray;
}

.beneficios {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    overflow: hidden;
}

.beneficios__cont {
    height: 40px;
    width: 120px;
    padding: 8px;
    font-family: "Be Vietnam Pro", sans-serif;
    font-size: 14px;
    font-weight: 500;
    color: rgb( 8, 110, 255);
    background-color: rgb( 217, 234, 251);
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.beneficios h2,
.services h2 {
    /* background-color: darkgoldenrod; */
    font-family: "Urbanist", sans-serif;
    text-align: center;
    margin-top: 40px;
    color: rgb(38, 38, 42);
    font-size: 60px;
    font-weight: 400;
}

.beneficios p,
.services p {
    /* background-color: magenta; */
    font-family: "Be Vietnam Pro", sans-serif;
    text-align: center;
    font-size: 18px;
    font-weight: 200;
    line-height: calc(20px*1.5);
    margin-top: 20px;
    color: rgb(48, 48, 53);
}

.beneficios button,
.services button {
    width: 180px;
    height: 50px;
    margin-top: 25px;
    background-color: rgb(31, 21, 21);
    color: white;
    border-style: none;
    border-radius: 5px;
    font-size: 14px;
    font-family: "Be Vietnam Pro", sans-serif;
}

.beneficios button a,
.services button a {
    text-decoration: none;
    color: white;
}

.beneficios button:hover,
.services button:hover {
    transform: scale(1.05);
}


footer {
    width: 100%;
    height: 50vh;
    /* background-color: yellow; */
    padding: 20px;
    margin-top: 300px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 110px 110px 110px;
}

.footer__up {
    /* background-color: green; */
    text-align: center;
    padding-top: 20px;
    grid-column: span 2;
    grid-row: span 3;
    overflow: hidden;
}

.footer__up h2 {
    font-family: "Urbanist", sans-serif;
    font-size: 46px;
    font-weight: 400;
    line-height: calc(46px*1.2);
}

.footer__up button {
    width: 180px;
    height: 50px;
    margin-top: 30px;
    background-color: rgb(31, 21, 21);
    color: white;
    border-style: none;
    border-radius: 5px;
    font-size: 14px;
    font-family: "Be Vietnam Pro", sans-serif;
}

.footer__up button:hover {
    transform: scale(1.05);
}

.footer__up button a {
    text-decoration: none;
    color: white;
}

footer p{
    font-size: 14px;
    font-weight: 200;
    font-family: "Be Vietnam Pro", sans-serif;
    color: gray;
    display: flex;
    justify-content: center;
    padding-left: 20px;
    grid-column: 1/2;
    grid-row: 4/5;
}

.footer__der a {    
    grid-column: -2/-1;
    grid-row: 4/5;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer__der a img {
    height: 20px;
    width: 20px;
}

.services {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: "Urbanist", sans-serif;
    flex-wrap: wrap;
    overflow: hidden;
}

.services__cont {
    height: 40px;
    width: 120px;
    padding: 8px;
    font-family: "Be Vietnam Pro", sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: rgb( 8, 110, 255);
    background-color: rgb( 217, 234, 251);
    border-radius: 5px;
}

.services__section {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    overflow: hidden;
}

.services__section img {
    height: 600px;
    width: 600px;
    border-style: none;
    margin-top: 60px;
}

.aboutus {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 60px;
    align-items: center;
}

.aboutus h2 {
    text-align: center;
    font-size: 42px;
    font-family: "Urbanist", sans-serif;
    font-weight: 500;
}

.aboutus__cont p {
    font-size: 14px;
    font-family: "Be Vietnam Pro", sans-serif;
    font-weight: 200;
    color: #26262A;
    padding: 20px;
}

.aboutus__cont {
    width: 90%;
    height: 350px;
    border-radius: 10px;
    border-style: none;
    box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.1);
    background-color: rgba(204, 204, 204, 0.2);
    display: flex;
    align-items: center;
    overflow: hidden;
    padding: 20px;
    justify-content: space-between;
}

.aboutus__cont img {
 border-style: none;
 border-radius: 10px;
 height: 300px;
 width: 500px;
}

.contact {
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
    background-image: url(../img/fondoRelu.png);
    background-repeat: no-repeat; /* Para que la imagen no se repita */
    background-position: center;
}


.contact h2 {
    font-family: "Urbanist", sans-serif;
    font-size: 46px;
    font-weight: 400;
    line-height: calc(46px*1.2);
}

.contact p {
    font-family: "Be Vietnam Pro", sans-serif;
    margin-top: 20px;
    color: rgb(38, 38, 42);
    font-size: 14px;
    font-weight: 300;
    line-height: calc(18px*1.5);
    text-align: center;
}

.contact form {
    width: 80%;
    height: 500px;
    /* background-color: gray; */
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 80px 80px 80px 80px 80px;
    row-gap: 5px;
    padding: 20px;
}

.form__uno {
    /* background-color: green; */
    grid-column: span 1;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.form__dos {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    /* background-color: yellow; */
    grid-column: span 2;
    padding: 10px;
}

.form__uno label,
.form__dos label {
    font-size: 14px;
    font-family: "Urbanist", sans-serif;
    font-weight: 300;
    color: black;
    text-align: left;
    width: 100%;
}

.form__uno input,
.form__dos input {
    height: 40px;
    width: 100%;
    border-style: none;
    border-radius: 5px;
    box-shadow: 2px 2px 6px 2px rgba(0, 0, 0, 0.1);
    align-items: center;
    padding-left: 15px;
    color: gainsboro;
    font-family: "Be Vietnam Pro", sans-serif;
    font-size: 14px;
    font-weight: 200;
    margin-top: 5px;
}

.contact form button {
    height: 40px;
    width: 80%;
    background-color: black;
    border-style: none;
    border-radius: 5px;
    grid-column: span 2;
}

.contact form button:hover {
    transform: scale(1.05);
}

.contact form button a {
    text-decoration: none;
    color: white;
    font-size: 14px;
    font-family: "Urbanist", sans-serif;
    font-weight: 300;
}

.platform {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
    background: linear-gradient(to right, rgba(23, 123, 255, 0.2), rgba(121, 126, 243, 0.2));
    overflow-y: hidden;
}

.platform__cont {
    width: 60%;
    height: 500px;
    background-color: white;
    border-radius: 30px;
    box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    /* background-color: green; */
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.platform__cont img {
    height: 125px;
    width: 125px;
}

.platform__cont form {
    height: 300px;
    width: 80%;
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    padding: 20px;
    justify-content: center;
}

.platform__cont form label {
    font-size: 14px;
    font-family: "Urbanist", sans-serif;
    font-weight: 300;
    color: black;
    margin-top: 20px;
}

.platform__cont form input {
    height: 40px;
    width: 100%;
    border: 0.2px solid gray;
    border-radius: 5px;
    align-items: center;
    padding-left: 15px;
    color: gray;
    font-family: "Be Vietnam Pro", sans-serif;
    font-size: 16px;
    font-weight: 300;
    margin-top: 5px;
}

.platform__cont form button {
    height: 40px;
    width: 100%;
    background-color: black;
    border-style: none;
    border-radius: 5px;
    margin-top: 30px;
}

.platform__cont form button:hover {
    transform: scale(1.05);
}

.platform__cont form button a {
    text-decoration: none;
    color: white;
    font-size: 14px;
    font-family: "Urbanist", sans-serif;
    font-weight: 300;
}

/* <--- MEDIA QUERY ---> */

@media screen and (max-width:1184px) {
    .img-services {
        height: 100%;
        width: 50%;
        background-color: gray;
        display: flex;
    }
    
    .img-s {
        height: 500px;
        width: 500px;
        border-style: none;
    }
}

@media screen and (max-width:1055px) {
    .img-services {
        height: 100%;
        display: flex;
        margin-top: 20px;
    }
    
    .img-s {
        height: 400px;
        width: 400px;
        border-style: none;
    }
}


@media screen and (max-width:728px) {
    .titulo-services {
        margin-top: 40px;
    }
}

@media screen and (max-width:615px) {
    .titulo-services {
        margin-top: 60px;
    }
}

@media screen and (max-width:515px) {
    .img-s {
        height: 300px;
        width: 300px;
        border-style: none;
    }
}

@media screen and (max-width:500px){

    /* <-- HEADER & NAV --> */
    header {
        height: auto;
        display: flex;
        flex-direction: column;
        padding: 5px;
    }
    .cont__logo {
        margin-left: 0;
    }     
    header nav {
        margin: 15px 0;
    }

    /* <-- HOME --> */
    .home {
        margin-top: 0;
    } 
    .home h1 {
        font-size: 46px;
    }
    .home p {
        font-size: 16px;
    }

    /* <-- FEATURES --> */
    .features__cont {
        height: 270px;
        width: 350px;
        padding: 15px;
        overflow: hidden;
    }
    
    .features__cont img {
        height: 150px;
        width: 300px;
    }
    
    .features__cont h2 {
        font-size: 18px;
    }
    
    .features__cont p {
        margin-top: 5px;
        font-size: 14px;
    }

    /* <-- BENEFICIOS -->  */
    .beneficios h2 {
        font-size: 46px;
    }
    .beneficios p {
        font-size: 16px;
        line-height: calc(16px*1.5);
    }

    /* <-- FOOTER --> */
    .footer {
        display: flex;
        flex-direction: column;
    }
    .footer__up {
        padding: 20px;
        flex-wrap: wrap;
        margin-top: 60px;
        order: 1;
    }
    .footer__up h2 {
        font-size: 36px;
        line-height: calc(36px*1.2);
    }
    .footer__up button {
        margin-top: 20px;
    }

    footer p {
        font-size: 12px;
    }
    .footer__der{
        height: 20%;
        order: 2;
    }
}

@media screen and (max-width:415px) {
    .footer-up h2 {
        font-size: 28px;
        line-height: calc(28px*1.2);
    }
    .footer-izq p {
        font-size: 12px;
    }
}

@media screen and (max-width:370px){
    .img-1,
    .img-2,
    .img-3 {
        height: 150px;
        width: 280px;
    }

}