// <!-- ABOUT US -->

// <! 1 SECTION ABOUT US -->

.aboutus {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 60px;
    align-items: center;

    h2 {
        text-align: center;
        font-size: nth($h-size, 2);
        font-family: nth($font, 1), sans-serif;
        font-weight: nth($font-w, 4);    
    }

    .aboutus__cont {
        width: 90%;
        height: 350px;
        border-radius: 10px;
        border-style: none;
        box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.1);
        background-color: rgba(204, 204, 204, 0.2);
        display: flex;
        align-items: center;
        overflow: hidden;
        padding: 20px;
        justify-content: space-between;

        p {
            font-size: nth($p-size, 2);
            font-family: nth($font, 2), sans-serif;
            font-weight: nth($font-w, 1);
            color: $color-2;
            padding: 20px;
        }

        img {
            border-style: none;
            border-radius: 10px;
            height: 300px;
            width: 500px;
        }
    }
}