
// <!-- SERVICES -->

//  <!-- 1 SECTION SERVICES -->

.services {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: nth($font, 1), sans-serif;
    flex-wrap: wrap;
    overflow: hidden;

    .services__cont {
        height: 40px;
        width: 120px;
        padding: 8px;
        font-family: nth($font, 2), sans-serif;
        font-size: nth($p-size, 3);
        font-weight: nth($font-w, 4);
        color: $color-4;
        background-color: $color-7;
        border-radius: 5px;
    }

    h2 {
        font-family: nth($font, 1), sans-serif;
        text-align: center;
        margin-top: 40px;
        color: $color-2;
        font-size: nth($h-size, 5);
        font-weight: nth($font-w, 3);
    }

    p {
        font-family: nth($font, 2), sans-serif;
        text-align: center;
        font-size: nth($p-size, 3);
        font-weight: nth($font-w, 1);
        line-height: calc(20px*1.5);
        margin-top: 20px;
        color: $color-3;
    }

    button {
        width: 180px;
        height: 50px;
        margin-top: 25px;
        background-color: $color-2;
        color: $color-1;
        border-style: none;
        border-radius: 5px;
        font-size: nth($p-size, 2);
        font-family: nth($font, 2), sans-serif;
        &:hover {
            transform: scale(1.05);        
        }
        a {
            text-decoration: none;
            color: $color-1;        
        }
    }
}

// <!-- 2 SECTION SERVICES -->

.services__section {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    overflow: hidden;

    img {
    height: 600px;
    width: 600px;
    border-style: none;
    margin-top: 60px;    
    }
}