// VARIABLES

$color-1: rgba(249, 249, 249);
$color-2:rgb(38, 38, 42);
$color-3:rgb(48, 48, 53);
$color-4:rgb( 8, 110, 255);
$color-5:rgb( 204, 204, 204);
$color-6:linear-gradient(to right, #177BFF, #797EF3);
$color-7:rgb( 217, 234, 251);

// LISTAS

$font: "Urbanis", "Be Vietnam Pro";
$p-size: 12px, 14px, 16px, 18px, 20px, 22px;
$h-size: 40px, 46px, 50px, 56px, 60px;
$font-w: 200, 300, 400, 500, 600;
