
// <!-- MEDIA QUERY -->

// <!-- MAX-WIDTH 1184PX -->

@media screen and (max-width:1184px) {
    .services__section img {
        height: 500px;
        width: 500px;
        border-style: none;
    }
}

// <!-- MAX-WIDTH 822PX -->

@media screen and (max-width:822px) {
    
    /* <!-- ABOUT US --> */
    .aboutus__cont {
        flex-direction: column;
        height: auto;
        width: 80%;

        p {
            text-align: center;
        }
    }
}

// <!-- MAX-WIDTH 680PX -->

@media screen and (max-width:680px) {
    /* <!-- ABOUT US --> */
    .aboutus__cont img {
        height: 250px;
        width: 450px;
    }
}

// <!-- MAX-WIDTH 615PX -->

@media screen and (max-width:615px) {

    /* <!-- SERVICES --> */
    .services h2 {
        font-size: 48px;
    }

    .cont-accordion {
        width: 80%;
    }

    .services__section img {
        height: 450px;
        width: 450px;
    }

    /* <!-- ABOUT US --> */
    .aboutus__cont {
        flex-direction: column;
        height: auto;
        width: 90%;

        p {
            font-size: 13px;
        }
    }
}

// <!-- MAX-WIDTH 530PX -->

@media screen and (max-width:530px) {

    /* <!-- SERVICES --> */
    .services__section img {
        height: 400px;
        width: 400px;
    }

    /* <!-- ABOUT US --> */
    .aboutus__cont img {
        height: 200px;
        width: 400px;
    }

}

// <!-- MAX-WIDTH 530PX -->

@media screen and (max-width:515px) {

    /* <!-- SERVICES --> */
    .services__section img {
        height: 350px;
        width: 350px;
    }
    .services__cont {
        margin-top: 60px;
    }

    /* <!-- ABOUT US --> */
    .aboutus h2 {
        margin-top: 60px;
    }
}

// <!-- MAX-WIDTH 500PX -->
 
@media screen and (max-width:500px) {
    
// <!-- HEADER & NAV -->
    header {
        height: auto;
        display: flex;
        flex-direction: column;
        padding: 5px;

        .cont__logo {
            margin-left: 0;
        }

        nav {
            margin: 15px 0;
        }
    }
    
// <!--INDEX | SECTION - HOME -->
    .home {
        margin-top: 0;

        h1 {
            font-size: 46px;
        }

        p {
            font-size: 16px;
        }
    }
    
// <!-- INDEX | SECTION - FEATURES -->
    .features__cont {
        height: 270px;
        width: 350px;
        padding: 15px;
        overflow: hidden;

        img {
            height: 150px;
            width: 300px;
        }

        h2 {
            font-size: 18px;
        }

        p {
            margin-top: 5px;
            font-size: 14px;
        }
    }

// <!-- INDEX | SECTION - BENEFICIOS -->
    .beneficios h2 {
        font-size: 46px;
    }

    .beneficios p {
        font-size: 16px;
        line-height: calc(16px*1.5);
    }

// <!-- FOOTER -->
    footer {
        display: flex;
        flex-direction: column;

        .footer__up {
            padding: 20px;
            flex-wrap: wrap;
            margin-top: 60px;
            order: 1;

            h2 {
                font-size: 36px;
                line-height: calc(36px*1.2);
            }
            button {
                margin-top: 20px;
            }
        }

        p {
            font-size: 12px;
        }

        .footer__der {
            height: 20%;
            order: 2;
        }
    }

// <!-- CONTACT --> 
    .contact h2 {
        margin-top: 140px;
    }

    .contact p {
        font-size: 13px;
    }
}

// <!-- MAX-WIDTH 470PX -->

@media screen and (max-width:470px) {

    /* <!-- SERVICES --> */
    .services__cont {
        margin-top: 100px;
    }

    /* <!-- ABOUT US --> */
    .aboutus__cont img {
        height: 200px;
        width: 350px;
    }
}

// <!-- MAX-WIDTH 435PX -->

@media screen and (max-width:435px) {
    .services__cont {
        margin-top: 120px;
    }
}

// <!-- MAX-WIDTH 415PX -->

@media screen and (max-width:415px) {

    // <!-- FOOTER -->
    .footer__up h2 {
        font-size: 28px;
        line-height: calc(28px*1.2);
    }

    /* <!-- SERVICES --> */
       .services__section img {
        height: 300px;
        width: 300px;
    }

    /* <!-- ABOUT US --> */
    .aboutus__cont img {
        height: 200px;
        width: 300px;
    }
}

// <!-- MAX-WIDTH 370PX -->

@media screen and (max-width:370px){

    // <!-- FEATURES -->
    .features__cont img{
        height: 150px;
        width: 280px;
    }

}

